<div id="footer">
    <div style="float: left; padding-left: 10px; height: 100%; align-items: center; display: flex;">
        <div (click)="onDisclosures()" style="text-decoration: underline; cursor: pointer;">Disclosures & Privacy</div>
    </div>

    <a mat-raised-button href="">External Link 1</a>
    <a mat-stroked-button routerLink="/" routerLinkActive="active">Internal Link 1</a>
    <a mat-stroked-button routerLink="/" routerLinkActive="active">Internal Link 2</a>

    <div style="float: right;">
        <div>By Matthew Yeager</div>
        <div>
            <a target="_blank" href="mailto:matthewbrandonyeager+github@gmail.com"><mat-icon>mail_outlined</mat-icon></a>
            <a target="_blank" href="https://www.linkedin.com/in/matthewbrandonyeager"><mat-icon svgIcon="linkedin"></mat-icon></a>
            <a target="_blank" href="https://github.com/Jagermeister"><mat-icon svgIcon="github"></mat-icon></a>
        </div>
    </div>
</div>